<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; 2023 <a href="https://ev4eu.eu">EV4EU</a> </strong> - All rights reserved | Based on <a href="https://startbootstrap.com/template/sb-admin">SB-Admin</a>.</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>