celery
channels
channels-redis
crispy-bootstrap5
daphne
Django
django-auth-ldap
django-celery-results
django-crispy-forms
django-oauth2-authcodeflow
django-timezone-field
djangorestframework
drf-yasg
ocpp
Pillow
psycopg2-binary
redis
requests
sanic
websockets