{% extends "base.html" %}
{% load static %}
{% block page_css %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.css" rel="stylesheet" type="text/css">
{% endblock page_css %}

{% block content %}
<div class="row">
    <div class="card" style="width: 100%">
        <div class="card-body">
            <table id="datatable_users" class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th class="sorting">Username</th>
                    <th class="sorting">First Name</th>
                    <th class="sorting">Last Name</th>
                    <th class="sorting">Superuser</th>
                    <th class="sorting">Email</th>
                    <th>Delete</th>
                </tr>
            </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_js %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2" type="text/javascript"></script>

    <script type="text/javascript">

        const users_datatable = new simpleDatatables.DataTable("#datatable_users");
        
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let data = JSON.parse(this.responseText)["data"];
                var data_to_datatable = []

                for (let i=0; i<data.length; i++) {  
                    users_datatable.rows.add([
                        "<a href='/users/edit/" + data[i]["username"] + "'><i class='fas fa-arrow-circle-right'></i></a>",
                        data[i]["username"],
                        data[i]["first_name"],
                        data[i]["last_name"],
                        data[i]["superuser"],
                        data[i]["email"],
                        "<a href='/users/delete/" + data[i]["username"] + "'><i style='color: red;' class='fas fa-minus-circle'></i></a>"
                    ]);
                }
            }
        };
        xhttp.open("GET", "/users/get", true);
        xhttp.send();
        
        
    </script>
{% endblock page_js %}
