{% extends "base-login.html" %}
{% block content %}

    <div class="card card-success">
        <div class="card-header">
            <b>Success!</b>
        </div>
        <div class="card-body">
            Your password has been reset. You can now login with your new password.<br><br>

            <div class="row">
              <div class="col-4">
                  <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-block">Sign In</button></a>
              </div>
              <!-- /.col -->
              <div class="col-8">

              </div>
              <!-- /.col -->
            </div>
        </div>
    </div>

{% endblock content %}
