{% extends "base.html" %}
{% load static %}
{% block page_css %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.css" rel="stylesheet" type="text/css">
{% endblock page_css %}

{% block content %}
<div class="row">
    <div class="card" style="width: 100%">
        <div class="card-body">
            <table id="datatable_idtag" class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th class="sorting">ID Token</th>
                    <th class="sorting">Associated User</th>
                    <th class="sorting">Expiration Date</th>
                    <th class="sorting">Activated</th>
                    <th>Delete</th>
                </tr>
            </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_js %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2" type="text/javascript"></script>

    <script type="text/javascript">

        const idtags_datatable = new simpleDatatables.DataTable("#datatable_idtag");
        
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let data = JSON.parse(this.responseText)["data"];
                var data_to_datatable = []

                for (let i=0; i<data.length; i++) {
                    let activated_icon;
                    if (data[i]["revoked"])
                        activated_icon = "<i style='color: red;' class='fa-solid fa-circle-xmark'></i>";
                    else
                        activated_icon = "<i style='color: green;' class='fa-solid fa-square-check'></i>";
                    
                    idtags_datatable.rows.add([
                        "<a href='/idtag/edit/" + data[i]["idToken"] + "'><i class='fas fa-arrow-circle-right'></i></a>",
                        data[i]["idToken"],
                        data[i]["username"],
                        data[i]["expiry_date"],
                        activated_icon,
                        "<a href='/idtag/delete/" + data[i]["idToken"] + "'><i style='color: red;' class='fas fa-minus-circle'></i></a>"
                    ]);
                }
            }
        };

        xhttp.open("GET", "/idtag/get", true);
        xhttp.send();
        
        
    </script>
{% endblock page_js %}
